* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Google Sans Flex', 'Montserrat', 'Roboto', sans-serif;
  background-color: #fbf3e2;
  color: #332e22;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

header {
  background-color: #f5ebd7;
  border-bottom: 1px solid #e0d5bf;
}

header h1 {
    text-align: center;
    font-size: 35px;
    font-weight: 400;
    margin-bottom: 35px;
}

.sidebar {
  display: flex;
  align-items: center;
  gap: 20px;

  padding: 20px;
}

.sidebar img {
  width: 90px;
  height: auto;
}

.sidebar h2 {
  font-size: 27px;
  font-weight: 900;
}

.sidebar nav {
  margin-left: auto;
}

.sidebar ul {
  list-style: none;

  display: flex;
  gap: 20px;
}

.sidebar a {
  text-decoration: none;
  color: #2e2e2e;
  transition: 0.2s;
}

.sidebar a.active {
  font-weight: 700;
}

.sidebar a:hover {
  color: #000000;
}

.menu-btn {
  display: none;

  background: none;
  border: none;

  font-size: 2rem;
  cursor: pointer;

  color: #2e2e2e;
}

main {
    flex: 1;

    display: flex;
    justify-content: center;

    padding: 40px 20px;
}

/* CARD */

.admin-card {
    width: 100%;
    max-width: 1000px;

    background: white;

    border-radius: 15px;

    padding: 30px;

    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

/* INPUTS */

label {
    display: block;

    margin-bottom: 8px;

    font-weight: 600;
}

select,
input {
    width: 100%;

    padding: 12px;

    border: 1px solid #ddd;

    border-radius: 8px;

    font-size: 1rem;

    margin-bottom: 20px;
}

/* MODALIDADE */

#modalidade {
    text-align: center;

    margin: 25px 0;

    font-size: 1.8rem;
}

/* PLACAR */

.placar {
    display: flex;

    gap: 25px;

    justify-content: center;

    margin: 30px 0;
}

.time {
    flex: 1;

    background: #f8f4eb;

    border-radius: 12px;

    padding: 25px;

    text-align: center;
}

.time span {
    display: block;

    font-size: 1.2rem;
    font-weight: 700;

    margin-bottom: 15px;
}

.pontos {
    font-size: 4rem;

    font-weight: 800;

    margin-bottom: 20px;
}

/* BOTÕES */

.botoes {
    display: flex;

    justify-content: center;

    gap: 10px;
}

.botoes button {
    border: none;

    background: #332e22;

    color: white;

    padding: 12px 18px;

    border-radius: 8px;

    cursor: pointer;

    font-size: 1rem;

    transition: .2s;
}

.botoes button:hover {
    background: #554b35;
}

/* SALVAR */

.salvar {
    width: 100%;

    margin-top: 15px;

    border: none;

    background: #332e22;

    color: white;

    padding: 15px;

    border-radius: 8px;

    cursor: pointer;

    font-size: 1rem;

    font-weight: 700;

    transition: .2s;
}

.salvar:hover {
    background: #554b35;
}

/* FOOTER */

footer {
    background: #111;

    color: #888;

    text-align: center;

    padding: 20px;
}

/* MOBILE */

@media (max-width: 768px) {

    .sidebar {
    flex-wrap: wrap;
  }

  .menu-btn {
    display: block;
    margin-left: auto;
  }

  #nav-Menu {
    display: none;
    width: 100%;
  }

  #nav-Menu.active {
    display: block;
  }

  .sidebar nav {
    margin-left: 0;
  }

  .sidebar ul {
    flex-direction: column;
    gap: 15px;
  }

    .placar {
        flex-direction: column;
    }

    .pontos {
        font-size: 3rem;
    }

}

@media (max-width: 430px) {

    header h1 {
        font-size: 1.5rem;
    }

    .admin-card {
        padding: 20px;
    }

    .pontos {
        font-size: 2.5rem;
    }

    .botoes {
        flex-direction: column;
    }

    .botoes button {
        width: 100%;
    }

}

#bloqueio-tela {
    width: 100%;
    max-width: 400px;
    margin: 60px auto;
}

.card-senha {
    background: white;
    padding: 35px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
    text-align: center;
}

.card-senha h2 {
    margin-bottom: 20px;
    color: #332e22;
    font-size: 1.6rem;
    font-weight: 700;
}

#form-bloqueio-rga input[type="password"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 1rem;
    text-align: center;
}

#form-bloqueio-rga button {
    width: 100%;
    padding: 12px;
    background: #332e22;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 700;
    font-size: 1rem;
    transition: 0.2s;
}

#form-bloqueio-rga button:hover {
    background: #554b35;
}